<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Extranet WSCO{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=500, initial-scale=1">
    </head>
    <style>
        .hover-underline-menu {
            width: 100%;
        }

        .hover-underline-menu .menu {
            background-color: #2C3840;
        }

        .hover-underline-menu .menu a {
            color: #fefefe;
            padding: 1.2rem 1.5rem;
        }

        .hover-underline-menu .menu .underline-from-center {
            position: relative;
        }

        .hover-underline-menu .menu .underline-from-center::after {
            content: "";
            position: absolute;
            top: calc(100% - 0.125rem);
            border-bottom: 0.125rem solid #fefefe;
            left: 50%;
            right: 50%;
            transition: all 0.5s ease;
        }

        .hover-underline-menu .menu .underline-from-center:hover::after {
            left: 0;
            right: 0;
            transition: all 0.5s ease;
        }
    </style>
    <body class="container">
        <nav class="hover-underline-menu" data-menu-underline-from-center>
            <ul class="dropdown menu align-center" data-dropdown-menu>
                <li><a href="{{ path('announcement_index') }}">Accueil</a></li>
                <li><a href="{{ path('issues_index') }}">Issues</a></li>
                {% if app.user is not null %}
                    {% if 'ROLE_ADMIN' not in app.user.roles %}
                        <li class="has-submenu"><a href="{{ path('member_profile') }}">Mon Espace</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="{{ path('member_profile') }}">Mon Profil</a></li>
                                <li><a href="{{ path('conversation_index') }}">Mes Messages</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="row">
            {% block flashbags %}
                {% for label, message in app.flashes(['warning', 'alert', 'success']) %}
                    {% for line in message %}
                        <div class="callout {{ label }}" data-closable="slide-out-up">
                            <h5>{{ label|capitalize }}</h5>
                            <p>
                                {{ line }}
                            </p>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
