{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div data-alert class="alert-box warning">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}

    <div class="column medium-7 medium-offset-3 log-in-form">
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <p><input type="submit" class="button expanded" value="Log in"/></p>
        </form>
    </div>

    <style>
        .log-in-form {
            border: 1px solid #cacaca;
            padding: 1rem;
            border-radius: 5px;
            margin-top: 5%;
        }
    </style>
{% endblock %}
