{% extends 'base.html.twig' %}

{% block body %}
    {% set page = app.request.query.get('page') %}
    {% if page is null %}
        {% set page = 1 %}
    {% endif %}
    {% if page == 1 %}
        <h1>Bienvenue sur l'extranet de WSCO</h1>
    {% endif %}
    <section id="announcements" class="column medium-10">
        <h1>Les annonces</h1>
        {% for announcement in announcements if announcements is not empty %}
            <article>
                <section id="announcement_{{ announcement.id }}">
                    <h2>{{ announcement.title }}<small> {{ announcement.createdAt|date('Y-m-d') }}</small></h2>
                    <aside>
                        {% if 'ROLE_ADMIN' in app.user.roles  %}
                            <a href="{{ path('announcement_post', {'id': announcement.id }) }}">Editer</a>
                        {% endif %}
                    </aside>
                    <article>
                        {{ announcement.content|raw }}
                    </article>
                </section>
            </article>
        {% else %}
            <h2>Aucune annonce à afficher</h2>
        {% endfor %}
        <div class="row">
            {% if announcements|length == pagination %}
                <div class="column medium-4">
                    <a href="{{ path('announcement_index', {'page': page + 1}) }}" class="button">Annonces suivantes</a>
                </div>
            {% endif %}
            {% if page != 1 %}
                <div class="column medium-4">
                    <a href="{{ path('announcement_index', {'page': page - 1}) }}" class="button success">Annonces précédentes</a>
                </div>
            {% endif %}
        </div>
    </section>
    <aside class="column medium-3">
        <ul class="menu vertical grid-y grid-margin-y">
            <div class="cell"></div>
            {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles  %}
                <li class="cell"><a href="{{ path('announcement_list') }}">Administrer les annonces</a></li>
                <li class="cell"><a href="{{ path('members_index') }}">Administrer les utilisateurs</a></li>
            {% endif %}
        </ul>
    </aside>
{% endblock %}
