{% extends 'base.html.twig' %}

{% block title %}Liste de toutes les annonces{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <a href="{{ path('announcement_post') }}"><h2>Nouvelle annonce</h2></a>
    <h2>Liste de toutes les annonces</h2>
    {% for item in announcements %}
        <section id="announcement_{{ item.id }}" class="row">
            <article class="column medium-9">
                <h3>{{ item.title }} {% if not item.active %}<small>(inactive)</small>{% endif %}</h3>
                <p>{{ item.content[:250]|raw }} [...]</p>
            </article>
            <aside class="column medium-4">
                <ul class="menu vertical">
                    <li class="cell"><a href="{{ path('announcement_post', {'id': item.id}) }}">Editer</a></li>
                    <li class="cell"><a href="{{ path('announcement_activate', {'id': item.id }) }}">{% if item.active %}Passer en inactif {% else %}Passer en actif{% endif %}</a></li>
                </ul>
            </aside>
        </section>
    {% endfor %}
{% endblock %}
