{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Submit" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('announcement_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
