{% extends 'base.html.twig' %}

{% block body %}
    <h1>Issue edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="button small-8 medium-3" type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% endblock %}
