{% extends 'base.html.twig' %}

{% block body %}
    <h1>Issues list</h1>
    <ul class="menu">
        <li>
            <a href="{{ path('issues_new') }}">Nouvelle issue</a>
        </li>
    </ul>

    {% if issues is not empty %}
        <ul class="tabs" data-tabs id="issues-tabs">
            <li class="tabs-title is-active"><a href="#issues_opened" aria-selected="true">Ouvertes</a></li>
            <li class="tabs-title"><a data-tabs-target="issues_closed" href="#issues_closed">Fermées</a></li>
            <li class="tabs-title"><a data-tabs-target="issues_all" href="#issues_all">Toutes</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="issues-tabs">
            <div class="tabs-panel is-active" id="issues_opened">
                {% for issue in opened %}
                    <section class="callout row">
                        <article class="column medium-8">
                            <h3>
                                <a href="{{ path('issues_show', {'id': issue.id }) }}">{{ issue.title }}</a>
                                <small>{% if issue.creator is not null %}{{ issue.creator }}
                                    {% else %} Administrateur {% endif %}
                                </small>
                            </h3>
                            <p>{{ issue.createdAt|date('d-m-Y H:i') }}</p>
                        </article>
                        <aside class="column medium-4">
                            {% for label in issue.labels %}
                                <span class="text-center" style="background-color: #{{ label.color }}; padding: 0.5rem">
                        <a href="{{ path('issues_index', {'label': label.label}) }}">{{ label }}</a>
                    </span>
                            {% endfor %}
                        </aside>
                    </section>
                {% endfor %}
            </div>

            <div class="tabs-panel" id="issues_closed">
                {% for issue in closed %}
                    <section class="callout secondary row">
                        <article class="column medium-8">
                            <h3>
                                <a href="{{ path('issues_show', {'id': issue.id }) }}">{{ issue.title }}</a>
                                <small>{% if issue.creator is not null %}{{ issue.creator }}
                                    {% else %} Administrateur {% endif %}
                                </small>
                            </h3>
                            <p>{{ issue.createdAt|date('d-m-Y H:i') }}</p>
                        </article>
                        <aside class="column medium-4">
                            {% for label in issue.labels %}
                                <span class="text-center" style="background-color: #{{ label.color }}; padding: 0.5rem">
                        <a href="{{ path('issues_index', {'label': label.label}) }}">{{ label }}</a>
                    </span>
                            {% endfor %}
                        </aside>
                    </section>
                {% endfor %}            </div>

            <div class="tabs-panel" id="issues_all">
                {% for issue in issues %}
                    <section class="callout {% if not issue.active %}secondary{% endif %} row">
                        <article class="column medium-8">
                            <h3>
                                <a href="{{ path('issues_show', {'id': issue.id }) }}">{{ issue.title }}</a>
                                <small>{% if issue.creator is not null %}{{ issue.creator }}
                                    {% else %} Administrateur {% endif %}
                                </small>
                            </h3>
                            <p>{{ issue.createdAt|date('d-m-Y H:i') }}</p>
                        </article>
                        <aside class="column medium-4">
                            {% for label in issue.labels %}
                                <span class="text-center" style="background-color: #{{ label.color }}; padding: 0.5rem">
                        <a href="{{ path('issues_index', {'label': label.label}) }}">{{ label }}</a>
                    </span>
                            {% endfor %}
                        </aside>
                    </section>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Aucune Issue trouvée</p>
    {% endif %}

{% endblock %}
