{% extends 'base.html.twig' %}

{% block body %}
    <h1>Issue creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button small-8 medium-3" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
