{% extends 'base.html.twig' %}

{% block body %}
    <section class="section-issue">
        <h1 class="title">{{ issue|capitalize }}</h1>
        <article id="issue_{{ issue.id }}" class="issue column medium-9">
            {{ issue.content|raw }}
        </article>
        <aside class="aside-issue column medium-5">
            <p class="issue-creator">Ouverte par
                {% if issue.creator is not null %}
                    {{ issue.creator.username|capitalize }}
                {% else %}
                    Administrateur
                {% endif %}
            </p>
            <p>Le {{ issue.createdAt|date("l j F Y", "Europe/Paris") }} à {{ issue.createdAt|date('H:i') }}</p>
            {% if 'ROLE_ADMIN' in app.user.roles or app.user.username == issue.creator.username %}
                <a href="{{ path('issues_edit', { 'id': issue.id }) }}" class="button">Editer</a>
                {{ form_start(state_form) }}
                    <input class="button alert" type="submit" value="{% if issue.active %}Fermer{% else %}Ré-ouvrir{% endif %}">
                {{ form_end(state_form) }}
            {% endif %}
            {% for label in issue.labels %}
                <span style="background-color: #{{ label.color }}; padding: 0.5rem">{{ label }}</span>
            {% endfor %}
        </aside>
        <article class="row">
            <aside class="comments column medium-9">
                <h2>Commentaires</h2>
                {% for comment in issue.comments %}
                    {% if comment.createdAt|date('d-m-Y') == 'now'|date('d-m-Y') %}
                        {% set date = "Aujourd'hui " ~ comment.createdAt|date('H:i') %}
                    {% else %}
                        {% set date = 'Le ' ~ comment.createdAt|date('d-m-Y H:i') %}
                    {% endif %}
                    {% if comment.updatedAt is not null %}
                        {% set date = 'Edité ' ~ comment.updatedAt|date('d-m-Y H:i') %}
                    {% endif %}
                    <article id="comment_{{ comment.id }}" class="comment callout">
                        <h3 class="comment-title">
                            {{ comment.title }}
                        </h3>
                        <p>{{ comment.content|raw }}</p>
                        {% if 'ROLE_ADMIN' in app.user.roles or app.user.username == comment.user.username %}
                            <p>
                                <a href="{{ path('comment_edit', {'id': comment.id}) }}">Editer</a>
                            </p>
                        {% endif %}
                        <small>{{ date }} par {% if comment.user is not null %}{{ comment.user.username|capitalize }}
                            {% else %}Administrateur{% endif %}
                        </small>
                    </article>
                {% endfor %}
                <div class="callout primary">
                    {{ form_start(form_comment) }}
                        {{ form_widget(form_comment) }}
                    {{ form_end(form_comment) }}
                </div>
            </aside>
        </article>
    </section>
{% endblock %}
