{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes messages privés</h1>
    <section id="my-messages" class="conversation-list grid-container">
        <h2><a href="{{ path('conversation_new') }}">Nouvelle conversation</a></h2>
        <div class="grid-x grid-padding-x small-up-2 medium-up-3">
            {% for conversation in conversations if conversations is not empty %}
                <div class="cell">
                    <article id="conv-{{ conversation.id }}" class="card">
                        <div class="card-divider">
                            <h5>Conversation entre {% if conversation.firstUser == app.user %}vous {% else %} {{ conversation.firstUser|capitalize }}{% endif %}
                                et {% if conversation.secondUser == app.user %}vous {% else %} {{ conversation.secondUser|capitalize }}{% endif %}</h5>
                        </div>
                        <a href="{{ path('conversation_show', {'id': conversation.id}) }}">
                            <div class="last-message card-section">
                                <b>Dernier message</b>
                                <p>{{ conversation.lastMessage.createdAt|date('d/m/y H:i:s') }}</p>
                                <p>{{ conversation.lastMessage[:50]|raw }} {% if conversation.lastMessage|length > 50 %}...{% endif %}</p>
                            </div>
                        </a>
                    </article>
                </div>
            {% else %}
                Aucune conversation pour le moment
            {% endfor %}
        </div>
    </section>
{% endblock %}
