{% extends 'base.html.twig' %}

{% block body %}
    <section id="conversation-{{ conversation.id }}" class="column medium-offset-1">
        <h1>Conversation avec {% if conversation.firstUser.email == app.user.email %}{{ conversation.secondUser|capitalize }} {% else %}{{ conversation.firstUser|capitalize }}{% endif %}</h1>
        {% for message in conversation.messages %}
                <article class="callout {% if message.sender.email == app.user.email %}primary{% else %}secondary{% endif %} medium-7">
                    {{ message|raw }}
                    <aside class="align-right">
                        <small>{{ message.createdAt|date('d/m/Y') }}</small>
                    </aside>
                </article>
        {% endfor %}
    </section>
    <section id="new-message" class="medium-offset-1 medium-9 end column">
        {{ form_start(form_message) }}
        {{ form_widget(form_message) }}
        {{ form_end(form_message) }}
    </section>
{% endblock %}
