{% extends 'base.html.twig' %}

{% block title %}Administration des membres{% endblock %}
{% block body %}
    <h1>Administration des membres</h1>
    <section class="row">
        <article class="column medium-6">
            {{ include('members/new.html.twig') }}
        </article>
        <article class="column medium-6">
            {{ include('members/import.html.twig') }}
        </article>
    </section>
{% endblock %}
