{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon compte</h1>
    <section id="form-user" class="column medium-7">
        <ul class="tabs" data-tabs id="account-tabs">
            <li class="tabs-title is-active"><a href="#edit_account" aria-selected="true">Editer mon compte</a></li>
            <li class="tabs-title"><a data-tabs-target="edit_psswd" href="#edit_psswd">Modifier mon mot de passe</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="account-tabs">
            <div class="tabs-panel is-active" id="edit_account">
                {{ form_start(form_account) }}
                {{ form_widget(form_account) }}
                {{ form_end(form_account) }}
            </div>
            <div class="tabs-panel" id="edit_psswd">
                {{ form_start(form_passwd) }}
                {{ form_widget(form_passwd) }}
                {{ form_end(form_passwd) }}
            </div>
            <div class="tabs-panel" id="my_infos">

            </div>
        </div>
    </section>
    <section id="info-user" class="column medium-7 text-center">
        <h4>Mes infos</h4>
    </section>
{% endblock %}
